{% extends "layout.html" %}
{% set css = ['/static/css/sponsorship.css'] %}
{% set active_page = 'sponsorship' %}
{% block body %}
<!-- Sponsorship -->
<div class="sponsorship">
<div class="row-fluid">
    <div class="span12">
        <h1>Our Proud Sponsors</h1>
    </div>
</div>
<!-- Row 0 -->
<div class="row-fluid">
    <div class="span4">
        <div class="row-fluid">
            <div class="span12 s-block-wrap" data-rowspan="1" data-colspan="1" >
                <div class="s-block text-only" >
                    <h3><b>Wanna <span class="em">sponsor</span> us?</b></h3>
                    <p>We provide startups and established companies with publicity opportunities to our members and all students on campus.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="span4">
        <div class="row-fluid">
            <div id="logo-s-block" class="span12 s-block-wrap" data-rowspan="1" data-colspan="1" >
                <div class="s-block">
                    <img class="" src="/static/images/sponsor_logo/oss_logo.jpg" alt="ZDY logo" title="ZDY" style="transition: all 0s ease; -webkit-transition: all 0s ease; opacity: 1; widht:100%; height:100%;">

                </div>
            </div>
        </div>
    </div>
    <div class="span4">
        <div class="row-fluid">
            <div class="span12 s-block-wrap" data-rowspan="1" data-colspan="1" >
                <div class="s-block text-only" >
                    <h3><b>Wanna <span class="em">sponsor</span> us?</b></h3>
                    <p>We provide startups and established companies with publicity opportunities to our members and all students on campus.</p>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Row 1 -->
<div class="row-fluid">
    <div class="span4">
        <div class="row-fluid">
            <div id="logo-s-block" class="span12 s-block-wrap" data-rowspan="1" data-colspan="1">
                <div class="s-block" style="background:#eee;">
                    <img class="" src="/static/images/sponsor_logo/fyreflyz.png" alt="Fyreflyz" title="Fyreflyz" style="transition: all 0s ease; -webkit-transition: all 0s ease; opacity: 1; widht:100%; height:100%;">
                </div>
            </div>
        </div>
    </div>
    <div class="span4">
        <div class="row-fluid">
            <div  class="span12 s-block-wrap" data-rowspan="1" data-colspan="1">
                <div class="" style="">
                </div>
            </div>
        </div>
    </div>
    <div class="span4">
        <div class="row-fluid">
            <div class="span12 s-block-wrap" data-rowspan="1" data-colspan="1">
                <div class="s-block text-only">
                    <p><span class="em">Fyreflyz</span> is a one-stop marketing solutions execution house. We are a team of creative marketing professionals who will be able to assist you on your marketing needs. Email us <a href="mailto:enquiries@fyreflyz.comSubject=Hello%20again" target="_top">now</a>.</p>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Row 1.1 -->
<div class="row-fluid">
    <div class="span4">
        <div class="row-fluid">
            <div class="span12 s-block-wrap" data-rowspan="1" data-colspan="1">
                <div class="s-block  text-only">
                    <p>Flipit is the largest couponing portal in Singapore.  We bring together the best promo codes, vouchers, printable coupons and sales from shops around the web.  We work closely with Singapore's top online retailers and affiliate networks, providing you with the latest & greatest deals to help you save time and money.  If there is a code worth using, Flipit certainly has it.</p>
                        </div>
            </div>
        </div>
    </div>
    <div class="span4">
        <div class="row-fluid">
            <div class="span12 s-block-wrap" data-rowspan="1" data-colspan="1">
                <div class="" style="background: #ffffff">
                    <a href="http://www.flipit.com/sg" target="_blank">
                        <img class="" src="/static/images/sponsor_logo/flipit.png" alt="Flipit" title="Flipit" style="padding:50px;transition: all 0s ease; -webkit-transition: all 0s ease; opacity: 1; widht:100%; height:100%;">
                    </a>
                 </div>
            </div>
        </div>
    </div>
    <div class="span4">
        <div class="row-fluid">
            <div class="span12 s-block-wrap" data-rowspan="1" data-colspan="1">
                <div class="s-block text-only">
                    <p>There are no costs or obligations associated with Flipit, and you dont need to create an account to use our codes.  So, what are you waiting for then? Get ready to "flip" over a great deal !</p>

                </div>
            </div>
        </div>
    </div>
</div>
<!-- Row 2 -->
<div class="row-fluid">
    <div class="span4">
        <div class="span12 s-block-wrap" data-rowspan="1" data-colspan="1" >
            <div class="s-block s-block-sponsor">
                <img class="" src="/static/images/sponsor_logo/ubuntu.png"  title="ZDY" style="transition: all 0s ease; -webkit-transition: all 0s ease; opacity: 1; widht:100%; height:100%;">
                <span><a href="http://www.ubuntu.com/">Ubuntu</a></span>
            </div>
        </div>
        <div class="span12 s-block-wrap" data-rowspan="1" data-colspan="1" >
            <div class="s-block text-only" >
                <h3><b>In partnership with <span class="em">Fyreflyz</span></b></h3>
                <p></p>
            </div>
        </div>
    </div>
    <div class="span8">
        <div class="s-block-wrap-large">
            <div class="s-block text-only" >
                <h3><b><span class="em">Ubuntu Mirror</span></b></h3>
                <p>These mirrors provide repositories and archives of all software for the distribution.</p>
                <p>Mirrors provide you with information about all the packages available in the Ubuntu Package archive.</p>
                <p>This links to our regional DVD images mirrors</p>
            </div>
        </div>
    </div>

</div>
<!-- Row IEEE -->
<div class="row-fluid" style="display: none;">
    <div class="span8">
        <div class="s-block-wrap-large">
            <div class="s-block text-only" >
                <h3><b>IEEE <span class="em">Consumer Electronics Society</span></b></h3>
                <p>The Consumer Electronics Society is an organization within the IEEE that strives for the advancement of the theory and practice of Electronic Engineering and of the allied arts and sciences with respect to the field of Consumer Electronics and the maintenance of a high professional standing among its members.
                    The society has long been the premier technical association in the Consumer Electronics Industry. </p>
            </div>
        </div>
    </div>
    <div class="span4">
        <div class="span12 s-block-wrap" data-rowspan="1" data-colspan="1" >
            <div class="s-block s-block-sponsor">
                <img class="" src="/static/images/sponsor_logo/ieee_consumer_product_logo.jpg"  title="ZDY" style="transition: all 0s ease; -webkit-transition: all 0s ease; opacity: 1; widht:100%; height:100%;">
                <span><a href="http://www.ubuntu.com/">IEEE</a></span>
            </div>
        </div>
        <div class="span12 s-block-wrap" data-rowspan="1" data-colspan="1" >
            <div class="s-block text-only" >
                <h3><b>Sponsored by IEEE Consumer Electronics Society</b></h3>
                <p></p>
            </div>
        </div>
    </div>


</div>
<!-- Row NTU -->
<div class="row-fluid">
    <div class="span4">
        <div class="row-fluid">
            <div id="logo-s-block" class="span12 s-block-wrap" data-rowspan="1" data-colspan="1" >
                <div class="s-block">
                    <img class="" src="/static/images/sponsor_logo/ntu_logo.jpg" alt="ZDY logo" title="ZDY" style="transition: all 0s ease; -webkit-transition: all 0s ease; opacity: 1; widht:100%; height:100%;">

                </div>
            </div>
        </div>
    </div>
    <div class="span4">
        <div class="row-fluid">
            <div class="span12 s-block-wrap" data-rowspan="1" data-colspan="1" >
                <div class="s-block text-only" >
                    <h3><b>Thank <span class="em">NTU</span></b></h3>
                    <p>Thank NTU for sponsoring venue for our weekly workshops.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="span4">
        <div class="row-fluid">
            <div class="span12 s-block-wrap" data-rowspan="1" data-colspan="1" >
                <div class="s-block text-only" >
                    <h3><b>Thank <span class="em">Professors</span></b></h3>
                    <p>Thanks for Prof. Ho Shen-Shyang and Prof. Mark Yong who gives us professional advice and guidance.</p>
                </div>
            </div>
        </div>
    </div>

</div>
<!-- Our Friends -->
<h1> Our Friends </h1>
<div class="row-fluid">
    <div class="span4">
        <div class="row-fluid">
            <div class="span12 s-block-wrap" data-rowspan="1" data-colspan="1" >
                <div class="s-block text-only" >
                    <h3><b>NUS <span class="em">Hackers</span> </b></h3>
                    <p>NUS Hackers is a student-run organization committed to the spread of hacker culture & free/open-source software at the National University of Singapore</p>
                </div>
            </div>
        </div>
    </div>
    <div class="span4">
        <div class="row-fluid">
            <div id="logo-s-block" class="span12 s-block-wrap" data-rowspan="1" data-colspan="1" >
                <div class="s-block">
                    <img class="" src="/static/images/sponsor_logo/nus_hackers_logo_1.png" alt="ZDY logo" title="ZDY" style="transition: all 0s ease; -webkit-transition: all 0s ease; opacity: 1; widht:100%; height:100%;">

                </div>
            </div>
        </div>
    </div>
    <div class="span4">
        <div class="row-fluid">
            <div id="logo-s-block" class="span12 s-block-wrap" data-rowspan="1" data-colspan="1" >
                <div class="s-block">
                    <img class="" src="/static/images/sponsor_logo/nus_hackers_logo_2.png" alt="ZDY logo" title="ZDY" style="transition: all 0s ease; -webkit-transition: all 0s ease; opacity: 1; widht:100%; height:100%;">

                </div>
            </div>
        </div>
    </div>
</div>

<!-- TODO -->
<div class="row-fluid" style="display: none">
    <div class="span8" style="position: relative;  height: 600px; ">
        <div class="s-block text-only" >
            <h3><b>Wanna <span class="em">sponsor</span> us?</b></h3>
            <p>We provide startups and established companies with publicity opportunities to our members and all students on campus.</p>
            <p>We provide startups and established companies with publicity opportunities to our members and all students on campus.</p>
            <p>We provide startups and established companies with publicity opportunities to our members and all students on campus.</p>
        </div>
    </div>
    <div class="span4">
        <div class="row-fluid">
            <div id="logo-s-block" class="span12 s-block-wrap" data-rowspan="1" data-colspan="1" >
                <div class="s-block s-block-sponsor">
                    <img class="" src="/static/images/sponsor_logo/ubuntu.png"  title="ZDY" style="transition: all 0s ease; -webkit-transition: all 0s ease; opacity: 1; widht:100%; height:100%;">
                    <span><a href="http://www.ubuntu.com/">Ubuntu</a></span>
                </div>
            </div>
            <div class="row-fluid">
                <div class="span12 s-block-wrap" data-rowspan="1" data-colspan="1" >
                    <div class="s-block text-only" >
                        <h3><b>Wanna sponsor us?</b></h3>
                        <p>We provide startups and established companies with publicity opportunities to our members and all students on campus.</p>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
</div>
<!-- END Sponsorship -->
{% endblock %}